body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HOME */

/* ------Carousel------- */

.caption-carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15%;
  margin-bottom: 7%;
}

.btn-carousel {
  border-radius: 10px !important;
}

/* ----End Carousel------ */

/* -------Section 1------- */
.section-col1 {
  background-color: rgb(255, 115, 0);
}

.section-col2 {
  background-color: rgb(3, 3, 3);
}

.section-img {
  position: absolute;
  opacity: 0.1;
}

.section-caption {
  position: relative;
}

/* -------End Section 1-------- */

/* ----- Section 2 ----- */
.bg-img {
  background-image: url("https://charity.w3itexperts.com/images/background/bg4.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.content-section2 {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ----- End Section 2 ----- */

/* -------Events -------- */

.img-event {
  width: 500px;
  background-size: cover;
  background-position: center;
}

.cart-event {
  border-radius: 5px;
  box-shadow: 3px 5px #f75d08;
}

/* -------End Events -------- */
